- if object.errors.any?
  #error_explanation1
    %h4
      = pluralize(object.errors.count, "error")
      prohibited this comment from being saved:
    %ul
      - object.errors.full_messages.each do |message|
        %li= message
