- flash.each do |type, message|
  .row.flash-message
    .col-lg-12
      %div{:class => "alert alert-#{twitterized_type(type)} alert-dismissible", :role => "alert"}
        = message
    :javascript
      $('html, body').scrollTop($("#flash-messages").offset().top);
      setTimeout(function(){
        $(".flash-message").fadeTo(500, 0).slideUp(500, function () {
          $(this).remove();
        });
      }, 5000)
- flash.clear
